DATABASE_URL="postgresql+asyncpg://postgres.bycscpbaoqnoskxlsumn:[YOUR_PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql+asyncpg://postgres.bycscpbaoqnoskxlsumn:[YOUR_PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require"
APP_ENV="development"
PORT=8000
